.container {
  width: 1110px;
  margin: 0 auto;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

.logo {
  float: left;
  margin-top: 37px;
  margin-bottom: 37px;
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  color: #605e5e;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 300;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu_list {
  list-style: none;
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.menu_item {
  float: right;
  text-decoration: none;
  margin-bottom: 37px;
  margin-top: 42px;
}
.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 12px;
}
.menu_item:not(:nth-last-child(6n)) {
  margin-right: 40px;
}
.menu_link:hover {
  color: #48c9b0;
}
.slider {
  position: relative;
}

.slider img {
  min-width: 1600px;
}

.h1_slider {
  margin: 0;
  font-size: 58px;
  font-family: "Roboto";
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.p_slider {
  margin: 0;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.slider_wrapper {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buton {
  position: absolute;
  width: 105px;
  height: 105px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: transparent;
}
.less {
  background-image: url(/img/less.png);
  top: 0%;
  left: -25%;
}
.more {
  background-image: url(/img/more.png);
  top: 0%;
  left: 110%;
}

.buton:hover {
  background-color: rgb(26, 188, 156);
  opacity: 0.9;
}

.a_slider:hover {
  background-color: rgb(26, 188, 156);
  opacity: 0.9;
}

main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.h2_main {
  margin: 0px;
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Roboro", sans-serif;
  color: #515151;
  text-align: center;
}
.h2_main::after {
  display: block;
  margin: 28px auto 80px auto;
  width: 165px;
  content: "";
  height: 7px;
  background-color: #1abc9c;
}

.main_item {
  float: left;
  width: 255px;
  height: 325px;
  position: relative;
}
.main_item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.main_list {
  padding-left: 0px;
}

.main_item p {
  box-sizing: border-box;
  float: left;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ffffff;
}
.description {
  margin: 0px;
  width: 205px;
  height: 40px;
  color: #ffffff;
  background-color: #323232;
  float: left;
  padding: 10px 0px 0px 10px;
  text-transform: uppercase;
}
.price {
  margin: 0px;
  width: 50px;
  height: 40px;
  color: #ffffff;
  background-color: #8c8c8c;
  float: left;
  padding: 10px 0px 0px 7px;
}

.wrapper_for_description {
  position: absolute;
  bottom: 0px;
}

.like_share_latter {
  border-width: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 235px;
  height: 261px;
  opacity: 0;
}
.icon_like {
  background-image: url(/img/serdce.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 80px;
  left: 35px;
}
.icon_share {
  background-image: url(/img/strelki.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 80px;
  left: 93px;
}
.icon_latter {
  background-image: url(/img/hodinnik.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 80px;
  left: 152px;
}
.icon_add {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #323232;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  width: 165px;
  height: 50px;
  position: absolute;
  top: 137px;
  left: 35px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.icon_add::before {
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(/img/telejka.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.main_item:hover .description {
  background-color: #1abc9c;
}
.main_item:hover .price {
  background-color: #7fd9c7;
}

.main_item:hover .like_share_latter {
  opacity: 1;
}
.icon {
  display: inline-block;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  position: absolute;
}
.icon:hover {
  background-color: #1abc9c;
}

.footer_content {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  background-color: #323232;
  text-align: center;
}
.footer_inf {
  padding-top: 34px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
  color: #ffffff;
}
.footer_inf:hover {
  color: #46bfa9;
}
