.after-section-name__description {
    font-family: $second-font;
    font-weight: 400;
    width: 950px;
    text-align: center;
    margin: 0 auto;
    color: $primary-gray-color;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 88px;
  }