.email-box {
    display: flex;
    align-items: center;
  }
  .email-box__input {
    box-sizing: border-box;
    font-family: $second-font;
    font-weight: 300;
    border: 1px $second-white-color solid;
    font-size: 15px;
    padding-left: 12px;
    border-right: none;
    width: 230px;
    height: 40px;
  }
  
  .email-box__button {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    color: $primary-white-color;
    background-color: $border-color;
    border: none;
    font-family: $main-font;
    font-size: 14px;
    cursor: pointer;
  }