.section-name {
    text-align: center;
    color: $second-gray-color;
  }
  .section-name__description {
    font-family: $decorative-font;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .section-name__title {
    margin-top: 0px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    font-size: 30px;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: $first-hot-color;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
  
