.services {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: space-between;
    margin-top: 60px;
  }
  .services__item {
    flex: 0 0 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    &::before {

      content: "";
      width: 32px;
      height: 32px;
      padding-right: 29px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      background-size: contain;
    }
    &:first-child::before {
      background-image: url("../images/ALARM.png");
    }
    &:nth-child(2)::before {
      background-image: url("../images/LINE\ GRAPH.png");
    }
    &:nth-child(3)::before {
      background-image: url("../images/COMPUTER\ _\ OK.png");
    }
    &:nth-child(4)::before {
      background-image: url("../images/BOOK\ 2.png");
    }
    &:nth-child(5)::before {
      background-image: url("../images/HOME.png");
    }
    &:last-child::before {
      background-image: url("../images/IMAGE.png");
    }
  }
  .services__title {
    margin: 0px;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
    color: $second-gray-color;
  }
  .services__description {
    margin: 0px;
    padding-left: 61px;
    color: $primary-gray-color;
    font-family: $second-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 90px;
  }