* {
  margin: 0px;
  padding: 0px;
}
header {
  height: 1000px;
  background-image: url("../img/Layer.jpg");
  background-position: cover;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 100px;
}
.site-navigation {
  padding-top: 5px;
  display: flex;
  list-style: none;
  width: 625px;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.site-navigation__link {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.site-navigation__link svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #ffffff;
  transition: all 200ms linear;
}
.site-navigation__link:hover svg {
  fill: #fce38a;
}
.site-logo__link {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.site-navigation__item:hover .site-navigation__link {
  color: #fce38a;
}
.site-navigation__item::after {
  margin-top: 10px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
  transition: all 200ms linear;
}
.site-navigation__item:hover::after {
  opacity: 1;
}
.page-description {
  text-align: center;
  color: #ffffff;
}
.page-description__description {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2;
  padding-bottom: 50px;
}
.page-description__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  padding-bottom: 130px;
  text-transform: uppercase;
}
.page-description__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 30px 15px 30px;
  border: 3px solid #ffffff;
}
.section-name {
  padding-top: 50px;
  text-align: center;
  color: #333333;
}
.section-name__description {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}
.section-name__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
}

.section-name__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}
.services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
}
.services__item {
  flex: 0 0 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.services__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #333333;
}
.services__item::before {
  content: "";
  width: 32px;
  height: 32px;
  padding-right: 29px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: contain;
}

.services__item:first-child::before {
  background-image: url("../img/ALARM.png");
}
.services__item:nth-child(2)::before {
  background-image: url("../img/LINE\ GRAPH.png");
}
.services__item:nth-child(3)::before {
  background-image: url("../img/COMPUTER\ _\ OK.png");
}
.services__item:nth-child(4)::before {
  background-image: url("../img/BOOK\ 2.png");
}
.services__item:nth-child(5)::before {
  background-image: url("../img/HOME.png");
}
.services__item:last-child::before {
  background-image: url("../img/IMAGE.png");
}
.services__description {
  padding-left: 61px;
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 100px;
}
.after-section-name__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 950px;
  text-align: center;
  margin: 0 auto;
  color: #9f9f9f;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 93px;
}
.team-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
  padding-bottom: 85px;
}
.team-item {
  position: relative;
}
.team-item__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 15px;
}
.team-item__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #9f9f9f;
}
.team-background {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: absolute;
  width: 380px;
  height: 475px;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0;
  transition: all 200ms linear;
}
.team-background__link {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce38a;
  transition: all 200ms linear;
}
.team-background__link:nth-child(-n + 3) {
  margin-right: 1px;
}
.team-background__link:hover {
  background-color: #95e1d3;
}
.team-background__link svg {
  display: block;
  width: 28px;
  height: 32px;
  fill: #f38181;
  transition: all 200ms linear;
}
.team-background__link:hover svg {
  fill: #ffffff;
}
.team-item__img {
  transition: all 200ms linear;
}
.team-item:hover .team-background {
  transform: translate(-10px, -10px);
  opacity: 1;
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
}
.team-item:hover .team-item__img {
  transform: translate(-10px, -10px);
}
.footer {
  display: flex;
  font-size: 0px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #e7e7e7 solid;
  height: 62px;
}
.email-box {
  display: flex;
  align-items: center;
}
.email-box__input {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 1px #e7e7e7 solid;
  font-size: 15px;
  padding-left: 12px;
  border-right: none;
  width: 230px;
  height: 40px;
}

.email-box__button {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.footer__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}
.footer__description a {
  color: #333333;
  transition: all 200ms linear;
}
.footer__description a:hover {
  color: #f48989;
}

/* MEDIA */
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services__item:first-child::before {
    background-image: url("../img/ALARM@2x.png");
  }
  .services__item:nth-child(2)::before {
    background-image: url("../img/LINE\ GRAPH@2x.png");
  }
  .services__item:nth-child(3)::before {
    background-image: url("../img/COMPUTER\ _\ OK@2x.png");
  }
  .services__item:nth-child(4)::before {
    background-image: url("../img/BOOK\ 2@2x.png");
  }
  .services__item:nth-child(5)::before {
    background-image: url("../img/HOME@2x.png");
  }
  .services__item:last-child::before {
    background-image: url("../img/IMAGE@2x.png");
  }
}
