$primary-white-color: #ffffff;
$second-white-color: #e7e7e7;
$main-font: "Montserrat", sans-serif;
$second-font: "Roboto", sans-serif;
$decorative-font: "Kaushan Script", cursive;
$site-navigation-color: #fce38a;
$primary-gray-color: #9f9f9f;
$second-gray-color: #333333;
$border-color: #95e1d3;
$first-hot-color:#f38181;


